.right
  display flex
  flex-direction column
  max-width 300px
  width 100%
  background #1b242d
  &-title
    display flex
    height 65px
    background #1f2831
    border-bottom 2px solid #242d37
    justify-content center
    align-items center
    &__text
      margin 0px
      color #5a6065
      font-family Circle55
      text-transform uppercase
      font-weight bold
