.exchange
  border: 1px solid grey-n
  padding: 2rem 1rem
  span.label
    display: block
    width: 100%
    color: dark-l
    text-align: center
  
  .form-compare
    justify-content: center
    text-align: center
    input
      text-align: center