@font-face {
  font-family: Circle55;
  src: url("../assets/fonts/CRC55.otf");
}

@font-face {
  font-family: Dusha_v5;
  src: url("../assets/fonts/Dusha_v5.ttf");
}

@font-face {
  font-family: Circle35;
  src: url("../assets/fonts/CRC35.otf");
}


@font-face {
  font-family: CircleExtraBold;
  src: url("../assets/fonts/Circe-ExtraBold.otf");
}

@font-face {
  font-family: CircleBold;
  src: url("../assets/fonts/Circe-Bold.otf");
}


html, body
  overflow hidden

html, body, #root, #root>main
  height: 100%
  background #fff
  font-size 16px
  color #353535
a
  text-decoration none
a:active, a:hover, a:focus, a:visited
  outline: 0
body
  background: #ffffff;
  color: #353535;
  font-family: Calibri, Arial, sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 24px;
h5
  font-size 1.3em
  color #286c8e
  margin 10px 0
  font-weight 100


img
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;

.wrap-content
  display flex
  flex: 1 0 auto;
  height 100%
  overflow auto
  flex-direction column
  .content
    flex 1 0 auto
    padding: 40px 0
  &__main
    display flex
    flex-direction column
    width 100%
    background #f5f5f5
    &-container
      display: flex;
      padding 0 30px

.users
  display flex
  flex: 1 0 auto;
  height 100%
  overflow auto
  flex-direction column
  w
  .content
    flex 1 0 auto
    display: flex;
    padding: 50px 0;

.footer
  display flex
  justify-content center
  flex-direction column
  align-items center
  min-height 120px
  flex: 0 0 auto;

.default__info
  margin 20px 0
  padding: 15px 35px;
  -webkit-box-shadow: 0 1px 6px 0 rgba(0,0,0,0.12), 0 1px 6px 0 rgba(0,0,0,0.12);
  box-shadow: 0 1px 6px 0 rgba(0,0,0,0.12), 0 1px 6px 0 rgba(0,0,0,0.12);

@import "./lib/bootstrap-grid.css"
@import "./lib/normalize.css"
@import "./lib/font-awesome.css"
@import "./main/*"
@import "./transactions/*"
@import "./summary/*"
@import "./elements/*"
@import "./users/*"
@import "./replenishment/*"
@import "./withdraw/*"
@import "./referral/*"

