column-count = 12
column-offset = 10px

width-xs = 520px
width-sm = 768px
width-md = 992px
width-lg = 1200px

// Colors
// #0EB516 #2A4F79 #042037
primary-l = #47b
primary-n = #358
primary-d = #123

second-l = #5c7
second-n = #5b6
second-d = #5a5

grey-l = #F7F7F7
grey-n = #d7d7d7

green-l = #61BD6D
green-n = #0EB516
green-d = #41A85F

red-l = #EB6B56
red-n = #E14938
red-d = #E14938

yellow-l = #F7DA64
yellow-n = #FAC51C
yellow-d = #FAA026

blue-l = #54ACD2
blue-n = #3D8EB9
blue-d = #3D8EB9
