@import "~styles/colors.styl"
.login
  width 100%
  display flex

  &__form
    position: relative
    margin auto
    background #fff
    border-radius 2px
    flex-direction column
    display flex
    align-items center
    max-width 360px
    width 100%
    box-shadow: 0 0 0.35rem #b7b7b7;


    &-logo
      background-image url(../assets/images/logo256.png)
      width: 60px;
      height: 60px;
      background-size: cover;
      background-repeat: no-repeat;
      margin 20px 0
      margin-bottom 10px
    &-title
      display flex
      flex-direction column
      align-items center
      margin-bottom 10px
      &__item
        position: relative
        margin 0
        font-family Circle55
        font-size 1.5em
        font-weight bold
        color #142645
        margin-bottom 5px
      &__description
        margin 0
        font-family Circle55
        font-size 1.3em
        color #286c8e
        margin-top 30px


    &-container
      width 100%
      display flex
      flex-direction column
      padding 0 15px
      visibility hidden
      opacity 0.01
      max-height 0
      transition: max-height 1000ms ease
      &.entering, &.entered
        visibility visible
        opacity 1
        max-height 400px
        transition: all 700ms ease
      &__item
        width 100%
        display flex
        margin 10px 0
        position relative
        &-forgot
          position absolute
          right 10px
          top: 15px;
          cursor pointer
          font-size 0.8em
          font-weight bold
          color #353535

        &-input
          width 100%
          outline none
          border 2px solid #e1e4e5
          background none
          border-radius 2px
          line-height 40px
          padding 0 15px
          font-family Circle55
          font-size 1.2em
        &-recaptcha
          display flex
          justify-content space-between
          width 100%
          .submit
            display flex
            justify-content flex-end
            width 100%
        &-button
          display flex
          text-align center
          justify-content center
          background #27a2db
          border-radius 2px
          height 40px
          align-items center
          font-family Circle55
          font-weight bold
          color #fff
          border 1px solid #27a2db
          margin-bottom 10px
          cursor pointer
          width 50%
          margin-left 15px

      &__error
        padding-left: 10px;
        margin: auto;
        display: flex;
        justify-content: center;
        font-family Circle55
        color md-red-300
        width: 100%;

      &__link
        display flex
        width 100%
        justify-content center
        margin-bottom 25px
        cursor pointer
        flex-direction column
        align-items center
        &-item
          color: #bbb
          display block
          font-family Circle55
          cursor pointer
          padding 5px 0
          &:hover
            text-decoration underline

/*#login__recaptcha
  height: 40px;
  width: 50%;
  overflow: hidden;
  border: 1px solid lightgrey;
  border-radius: 3px;
#login__recaptcha > div
    position relative
    top -17px
    left -1px*/

.auth__form-container
  display flex
  flex-direction column
  padding 0 15px;
  visibility hidden
  opacity 0.01
  max-height 0
  transition: max-height 0ms ease
  &.entered
    visibility visible
    opacity 1
    max-height 400px
    transition: all 1500ms ease
  &__buttons
    margin 15px -15px
    display flex
    &-item
      width 50%
      padding 0 15px
      &__cancel
        width 100%
        display block
        text-align center
        padding 10px 0
        background: #f2f2f2;
        color: #555;
        cursor pointer
        border-radius 2px
      &__authenticate
        width 100%
        display block
        text-align center
        padding 10px 0
        background #27a2db
        border: 1px solid #27a2db;
        color: #fff;
        cursor pointer
        border-radius 2px
