@import "~styles/colors.styl"
.registration
  width 100%
  display flex
  &__form
    margin auto
    background #fff
    border-radius 2px
    flex-direction column
    display flex
    align-items center
    max-width 360px
    width 100%
    box-shadow: 0 0 0.35rem #b7b7b7;
    position relative
    &-logo
      background-image url(../assets/images/logo256.png)
      width: 60px;
      height: 60px;
      background-size: cover;
      background-repeat: no-repeat;
      margin 20px 0
      margin-bottom 10px
    &-title
      display flex
      flex-direction column
      align-items center
      margin-bottom 10px
      &__item
        margin 0
        font-family Circle55
        font-size 1.5em
        font-weight bold
        color #142645
        margin-bottom 5px
      &__description
        margin 0
        font-family Circle55
        font-size 1.3em
        color #286c8e
        margin-top 30px


    &-container
      width 100%
      display flex
      flex-direction column
      padding 0 15px
      &__item
        width 100%
        display flex
        margin 10px 0
        .submit
          display flex
          width 100%
          justify-content flex-end
        &-input
          width 100%
          outline none
          border 2px solid #e1e4e5
          background none
          border-radius 2px
          line-height 40px
          padding 0 15px
          font-family Circle55
          font-size 1.2em
        &-recaptcha
          display flex
          justify-content flex-end
          width 100%
        &-button
          width 50%
          margin-left 15px
          display flex
          text-align center
          justify-content center
          background #27a2db
          border-radius 2px
          height 40px
          align-items center
          font-family Circle55
          font-weight bold
          color #fff
          margin-bottom 10px
          cursor pointer

      &__error
        width: 100%;
        padding-left: 10px;
        margin: auto;
        display: flex;
        justify-content: center;
        font-family Circle55
        color md-red-300
      &__success
        width: 100%;
        padding-left: 10px;
        margin: auto;
        display: flex;
        justify-content: center;
        font-family Circle55
        color md-green-300

      &__link
        display flex
        width 100%
        justify-content center
        margin-bottom 25px
        cursor pointer
        flex-direction column
        align-items center
        &-item
          color: #bbb
          display block
          font-family Circle55
          cursor pointer
          padding 5px 0
          &:hover
            text-decoration underline

#registration__recaptcha
  height: 40px;
  width: 50%;
  overflow: hidden;
  border: 1px solid lightgrey;
  border-radius: 3px;
#registration__recaptcha > div
  position relative
  top -17px
  left -1px
