@import "~styles/colors.styl"
.settings
  &__form-item
    position relative
    margin-bottom 20px
    &__button
      width: 120px;
      text-align: center;
      display: block;
      background: #27a2db;
      padding: 10px 0;
      border-radius: 2px;
      color: #fff;
      font-family: CircleBold;
      cursor: pointer;
      display inline-block
    .error
      display inline-block
      margin-left 10px
      color md-red-300