.form
  outline none
  border 2px solid #e0e0e0
  background none
  border-radius 5px
  height 40px
  background #fff
  padding-left 15px
  &-label
    display inline-block
    font-family Circle55
    font-size 1.2em
    padding 2px 0

.form-full__width
  width 100%