.responsive-table
  width: 100%;
  margin: 0;
  padding: 0;
  border-collapse: collapse;
  border-spacing: 0;
  font-family Circle55
  font-size 14px


.responsive-table thead
  visibility: hidden;
  background: #fff;

@media (max-width: 779px) {
  .responsive-table thead {
    display none
  }
}

@media screen and (min-width: 780px) {
  .responsive-table thead {
    visibility: visible;
  }
}
.responsive-table tr
  padding: 5px;
  margin-bottom: 10px;
  display: block;

@media screen and (min-width: 780px) {
  .responsive-table tr {
    display: table-row;
    border-bottom-width: 1px;
    margin-bottom: 0;
  }
  .responsive-table tbody>tr:nth-child(odd) {
    background: #f9f9f9;
  }
}
.responsive-table th,
.responsive-table td {
  padding: 2px;
  text-align: center;
  font-size 0.9em;
}
.responsive-table th {
  font-size 1em;
  color #286c8e
  border: 1px solid #dddddd;
}
.responsive-table td {
  display: block;
  text-align: right;
  font-size: 13px;
  border: 1px solid #dddddd;
}

@media screen and (min-width: 780px) {
  .responsive-table td {
    padding 5px 0
    display: table-cell;
    text-align: center;
    font-size: 1em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .responsive-table td > p {
    margin 0
  }

}
.responsive-table td:before {
  content: attr(data-label);
  float: left;
  text-transform: uppercase;
  font-weight: bold;
}
@media screen and (min-width: 780px) {
  .responsive-table td:before {
    content: "";
    display: none;
  }
}
