@import "./table/*"
.transactions
  width 100%
  height 100%
  position: relative;
  &__table
    position relative
    height 100%
    width 100%
    overflow-x auto
    padding-bottom: 5px;
    .deposit
      background url("~assets/images/up.png")
      width: 23px;
      height: 23px;
      background-size: cover;
      background-repeat: no-repeat;
      margin: auto;
    .withdrawal
      background url("~assets/images/down.png")
      width: 23px;
      height: 23px;
      background-size: cover;
      background-repeat: no-repeat;
      margin: auto;
    .transfer
      background url("~assets/images/transfer.svg")
      width: 23px;
      height: 23px;
      background-size: cover;
      background-repeat: no-repeat;
      margin: auto;
  .filter
    margin-bottom 15px
    .form-label
      color #286c8e
  .pagination
    margin-top 15px