@import "./table/*"
.transactions
  width 100%
  height 100%
  position: relative;
  &__table
    position relative
    height 100%
    width 100%
    overflow-x auto
    padding-bottom: 5px;
    .type
      width 15px
      height 15px
  .filter
    margin-bottom 15px
    .form-label
      color #286c8e
  .pagination
    margin-top 15px
