.top-menu
  display flex
  padding-top 20px
  max-height 70px
  overflow hidden
  min-height 70px
  width 100%
  background #ffff
  justify-content space-between
  padding 0 15px
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 5px
  .navbar
    display flex
    width 100%
    height 100%
  &__logo
    display flex
    align-items center
    height 100%
    margin-left: 35px;
    &-item
      width 150px
      height 50px
      background-image url("~assets/images/150-50.png")
      background-size: cover;
      background-repeat: no-repeat;
  &__user
    display flex
    align-items center
    font-family Circle55
    font-weight bold
    margin-right 20px
    &-text
      padding-right 20px
      &__item
        margin 0px
        color #639395
        span
          font-family CircleExtraBold
    &-button
      border 2px solid #ecf0f0
      padding 7px
      border-radius 90px
      cursor pointer
      &__exit
        background-image url(/assets/images/exit.svg)
        width: 20px;
        height: 20px;
        background-size: cover;
        background-repeat: no-repeat;
  &__routers
    display flex
    align-items center
    width 100%
    justify-content flex-end
    &-list
      margin 0px
      margin-top: 10px;
      list-style-type none
      &__item
        display inline-flex
        &-link
          margin-right 10px
          display inline-flex
          font-size 16px
          color rgb(45, 44, 44)
          font-family: Calibri, Arial, sans-serif
          padding 7px 5px
          padding-top 10px
          border-bottom  2px solid transparent
          border-top  2px solid transparent
          text-transform uppercase
          letter-spacing: 1px;
          &.active
            color gray
            border-color gray;
            transition all 0.5s ease
          &:hover
            color gray
            border-color gray;
            transition all 0.5s ease
    &-user
      display: flex;
      align-items: center;
      margin-top: 13px;
      padding-left 10px
      &__balance
        padding 0 15px
        margin 0
        color #4d729e
        font-family: Calibri, Arial, sans-serif
        font-size 1em
      &__settings
        cursor pointer
        color transparent
        padding-right 5px
        img
          width 25px

      &__logout
        cursor pointer
        display flex
        align-items center
        font-size 1em
        font-family: Calibri, Arial, sans-serif
        span
          background-image url('~assets/images/log-out.svg')
          width: 25px;
          height: 25px;
          background-size: cover;
          background-repeat: no-repeat;

