@import '~style/variables.styl'

@keyframes fx-select-vertical
  from
    opacity: 0
    transform: translateY(2rem)
  to
    opacity: 1
    transform: translateY(0.5rem)

.select
  position: relative
  &.show
    .select-content
      display: block
      animation: fx-dropdown-vertical .2s ease

  .select-trigger
    user-select: none
    cursor: pointer
    padding: 0.5rem 0
    border-top-style: none
    border-left-style: none
    border-right-style: none
    border-bottom: 1px solid primary-n

  .select-search
    background-color: grey-l
    padding: .5rem 1rem
    input
      border: none
      background-color: transparent

  .select-content
    display: none
    position: absolute
    z-index: 2000
    top: 100%
    left: 0
    width: 100%
    background-color: #fff
    box-shadow: 0 0.5rem 2rem rgba(0,0,0,0.15)
    transform: translateY(0.5rem)

    ul
      margin: 0
      padding: 0.25rem 0
      list-style: none
      li
        & > ul > li:first-child span
          display: block
          padding: 0.5rem 1rem
          background-color: #f3f3f3
          text-align: center
          text-transform: uppercase
        a, button
          display: block
          width: 100%
          padding: 0.5rem 1rem
          background-color: transparent
          border: none
          &:hover
            background-color: #f3f3f3
