@import '~styles/general/variables'

@keyframes fx-select-vertical
  from
    opacity: 0
    transform: translateY(2rem)
  to
    opacity: 1
    transform: translateY(0.5rem)

.select
  position: relative
  &.show
    .select-trigger
      border-color #4fc3f7;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    .select-content
      display: block
      animation: fx-dropdown-vertical .2s ease

  .select-trigger
    user-select: none
    cursor: pointer
    padding: 0.6rem 0
    border: 1px solid #bdbdbd
    border-radius 5px
    &__selected
      > span
        padding-left 15px

    &__list
      padding-left 5px
      margin 0
      list-style-type none
      min-height 26px
      li
        display inline-block
        border: 1px solid #aaa;
        padding 2px 4px
        color #383349
        border-radius: 3px;
        font-size 0.9rem
        background-color: #eeeeee;
        margin-right 4px
        margin-bottom 4px
        i
          padding-left 6px
          font-size 1rem
          position relative
          color #888888
          font-weight bold
          vertical-align sub

  .select-search
    background-color: grey-l
    padding: .5rem 1rem
    input
      border: none
      background-color: transparent

  .select-content
    display: none
    position: absolute
    z-index: 2000
    top: 100%
    left: 0
    width: 100%
    background-color: #fff
    box-shadow: 0 0.1rem 0.7rem rgba(0,0,0,0.15)
    transform: translateY(0.1rem)

    ul
      margin: 0
      padding: 0.25rem 0
      list-style: none
      li
        & > ul > li:first-child span
          display: block
          padding: 0.5rem 1rem
          background-color: #f3f3f3
          text-align: center
          text-transform: uppercase
        a, button
          display: block
          width: 100%
          padding: 0.5rem 1rem
          background-color: transparent
          border: none
          &:hover
            background-color: #f3f3f3
          &.selected
            color #bdbdbd
            cursor default
