.referral
  height:100%
  position relative
  .filter
    margin-bottom 20px
  .filter__pagination
    margin-top 20px
  &__info
    margin 20px 0
    padding: 15px 35px;
    -webkit-box-shadow: 0 1px 6px 0 rgba(0,0,0,0.12), 0 1px 6px 0 rgba(0,0,0,0.12);
    box-shadow: 0 1px 6px 0 rgba(0,0,0,0.12), 0 1px 6px 0 rgba(0,0,0,0.12);
    > p
      font-weight bold
      color #286c8e
    &-description
      font-size 1em
    &-action
      position relative
    &-text
      font-size: 1em;
      padding: 18px 120px 18px 20px;
      word-break: break-all;
      background #f2f2f2
    &-button
      position absolute
      right 0px
      top 0px
      border: none;
      border-radius: 2px;
      padding: 8px 10px;
      font-size: 14px;
      font-weight: 500;
      text-transform: uppercase;
      letter-spacing: 0;
      will-change: box-shadow, transform;
      -webkit-transition: -webkit-box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1),background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1),color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
      -o-transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1),background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1),color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
      transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1),background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1),color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
      outline: 0;
      cursor: pointer;
      text-decoration: none;
      background: transparent;
      border-left 1px solid #fff
      margin: 0;
      height: 100%;
      display: flex;
      align-items: center;
      font-weight bold
      &:hover
        background #e1e1e1